Software/My workflow 4.json
{
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "69ddccfe-f7be-44b9-adb9-7471dbdc24e4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -16
      ],
      "id": "c960ad06-410f-4a6c-a824-0e0ff3ee4cff",
      "name": "Webhook",
      "webhookId": "69ddccfe-f7be-44b9-adb9-7471dbdc24e4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=Ets VetGat, un assistent especialitzat en salut i nutrició felina connectat a un sistema d'alimentació intel·ligent.\n\n## CAPACITATS\nTens accés en temps real a:\n- El perfil del gat (raça, pes, dieta, edat)\n- L'historial d'àpats (grams consumits, hora, triggers)\n- Els horaris d'alimentació programats\n- El pes actual del menjar al distribuïdor\n- L'estat del dispositiu d'alimentació\n\n## COM ACTUAR\n1. Quan l'usuari mencioni un gat, crida SEMPRE get_cat_profile primer.\n2. Si la pregunta és sobre alimentació, crida get_recent_feed_events \n   i get_feeding_schedules per tenir context real.\n3. Compara els grams objectiu (target_grams) amb els grams reals \n   (actual_grams) per detectar si el gat menja menys del normal.\n4. Si actual_grams < target_grams de forma repetida, avisa que pot \n   ser senyal d'un problema de salut o d'apetit.\n5. Usa date_of_birth per calcular l'edat exacta i adaptar els consells \n   (cadell < 1 any, adult 1-7, sènior > 7).\n6. Si el dispositiu té status != 'online', avisa l'usuari.\n7. Si el hopper té poc menjar (get_hopper_weight baix), informa-ho.\n\n## ALERTES AUTOMÀTIQUES (comprova sempre)\n- Gat no menja > 24h → possible urgència veterinària\n- actual_grams < 50% de target_grams dos àpats seguits → investiga\n- Pèrdua de pes (compara weight_kg amb historial) → recomana visita\n- Dispositiu offline → notifica l'usuari\n\n## RESTRICCIONS\n- No diagnostiques malalties de forma definitiva.\n- No modifiquis horaris ni configuració del dispositiu.\n- No inventis dades: si una tool no retorna res, digues-ho.\n- Si no saps quin gat pregunten, demana el nom.\n\n## TO\nProper, empàtic i professional. Usa 🐾 amb moderació.\nRespon en l'idioma de l'usuari. Cita sempre les dades reals \nque has obtingut (\"Avui en [NOM] ha menjat X grams a les HH:MM\")."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        -16
      ],
      "id": "8ee19477-4953-43fd-bc31-51b6ec5adca9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -80,
        208
      ],
      "id": "510442d1-bb61-4098-8241-09edbbc4ae48",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5g1S9zdyfwd8BRis",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "b90f7ade-4add-4770-bee3-1d1a049c04f3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Obté el perfil complet d'un gat de la base de dades. \nCrida aquesta tool quan l'usuari mencioni el nom d'un gat o quan \nnecessitis saber l'edat, pes, raça o notes de dieta. \nParàmetre: name (text, nom del gat).",
        "operation": "get",
        "tableId": "cats",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $fromAI('name') }}"
            },
            {
              "keyName": "archived",
              "keyValue": "=false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "59cc4091-f0ba-4352-b76e-c9f89b527ae8",
      "name": "get_cat_profile",
      "credentials": {
        "supabaseApi": {
          "id": "iy8oqaBXuNv3Bbji",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Obté els horaris d'alimentació programats per a un gat concret.\nMostra a quines hores s'alimenta, quants grams per àpat i quins \ndies de la setmana. Usa'l quan preguntin sobre la rutina d'alimentació.\nParàmetre: cat_id (uuid del gat, obtingut de get_cat_profile).",
        "operation": "get",
        "tableId": "schedules",
        "filters": {
          "conditions": [
            {
              "keyName": "cat_id",
              "keyValue": "={{ $fromAI('cat_id') }}"
            },
            {
              "keyName": "enabled",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        368,
        208
      ],
      "id": "c01c5791-4aa4-4433-afa5-fd4ba61dfd8e",
      "name": "get_cat_schedules",
      "credentials": {
        "supabaseApi": {
          "id": "iy8oqaBXuNv3Bbji",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Obté els darrers àpats registrats d'un gat: hora, grams programats \n(target_grams) i grams realment consumits (actual_grams). \nUsa'l per detectar si el gat menja menys del normal, si ha saltat \nàpats o per respondre \"quan ha menjat l'últim cop?\".\nParàmetres: cat_id (uuid), limit (int, per defecte 10).",
        "operation": "get",
        "tableId": "feed_events",
        "filters": {
          "conditions": [
            {
              "keyName": "cat_id",
              "keyValue": "={{ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            },
            {
              "keyName": "status",
              "keyValue": "completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        544,
        208
      ],
      "id": "0b582878-1d69-4b0e-9d70-0891eb5ff99f",
      "name": "get_recent_feed_events",
      "credentials": {
        "supabaseApi": {
          "id": "iy8oqaBXuNv3Bbji",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Calcula el total de grams consumits per un gat en els darrers dies, \nagrupat per data. Usa'l per analitzar tendències d'alimentació, \ndetectar dies de poc apetit o respondre preguntes com \n\"ha menjat bé aquesta setmana?\".\nParàmetre: cat_id (uuid).",
        "operation": "getAll",
        "tableId": "feed_events",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {
          "conditions": [
            {
              "keyName": "cat_id",
              "condition": "eq",
              "keyValue": "={{ $fromAI('cat_id') }}"
            },
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "completed"
            },
            {
              "keyName": "started_at",
              "condition": "gte",
              "keyValue": "={{ DateTime.now().minus({days:7}).toISO() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        224,
        384
      ],
      "id": "93cb61e8-3b88-4686-a500-964b279153be",
      "name": "get_daily_intake_summary",
      "credentials": {
        "supabaseApi": {
          "id": "iy8oqaBXuNv3Bbji",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Comprova l'estat del dispositiu d'alimentació associat a un gat.\nRetorna si el dispositiu és online/offline, quan s'ha vist per última \nvegada i la versió de firmware. Usa'l si l'usuari reporta problemes \namb el dispensador o si vols verificar que el dispositiu funciona.\nParàmetre: cat_id (uuid).",
        "operation": "getAll",
        "tableId": "devices",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "=(SELECT device_id FROM schedules WHERE cat_id = '{{ $fromAI(\"cat_id\") }}' LIMIT 1)"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        400,
        384
      ],
      "id": "4361945d-d538-4bfa-a848-7ce8ad6cd91a",
      "name": "get_device_status",
      "credentials": {
        "supabaseApi": {
          "id": "iy8oqaBXuNv3Bbji",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Obté el pes actual del menjar dins el distribuïdor (en grams).\nUsa'l per saber si queda menjar al dispensador i avisar l'usuari \nsi cal reomplir-lo. Crida'l quan preguntin \"queda menjar?\" \no quan hagis identificat el device_id del gat.\nParàmetre: device_id (uuid del dispositiu).",
        "operation": "get",
        "tableId": "realtime_weight",
        "filters": {
          "conditions": [
            {
              "keyName": "device_id",
              "keyValue": "={{ $fromAI('device_id') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        560,
        384
      ],
      "id": "e0bf7d78-2b51-49ad-82de-42a2d628ba41",
      "name": "get_hopper_weight",
      "credentials": {
        "supabaseApi": {
          "id": "iy8oqaBXuNv3Bbji",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        -16
      ],
      "id": "433e30f7-8c2e-48ef-b8e6-188a1a11223c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get_cat_profile": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_cat_schedules": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_recent_feed_events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_daily_intake_summary": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_device_status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_hopper_weight": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "952d3416-e287-4741-9818-f4020702c041",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72ca13be64d15e8dd81551769c8c432039a52625acd9c2df019b7b7221f27d72"
  },
  "id": "0bZu5vRBINVgbBIm",
  "tags": []
}